@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");


@import "tailwindcss";

@theme {
  --color-white: #fbfffe;
  --color-bg-white: #f4f4f4;
  --color-yellow: #faa916;
  --color-grey: #6d676e;
  --color-black: #1c1c1c;
  --color-red: #c3001f;
  --color-blue: #07246d;
  --color-bright-blue: #0e3599;

  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-l: 20px;

  --font-roboto: Roboto, sans-serif;
}

@layer base {
  body {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    background: #f4f4f4;
  }

  h1 {
    @apply text-[#1c1c1c] font-bold text-6xl tracking-[-1.28px];
  }
  h2 {
    @apply text-[#1c1c1c] font-bold text-4xl;
  }
  p {
    @apply text-[#1c1c1c] text-2xl;
  }

  button {
    @apply hover:cursor-pointer;
  }
}

@layer components {
  .brand {
    @apply flex flex-col justify-center items-center bg-white px-3 md:py-6 w-[200px] h-[90px] rounded-[6px] shadow-md shadow-grey;
  }
  .home-card {
    @apply rounded-md bg-white flex flex-col items-start shrink-0 w-[170px] h-[250px] shadow-md shadow-grey hover:cursor-pointer hover:scale-105 transition;
  }
  .icon {
    @apply w-[25px] h-[25px] opacity-60;
  }
  .react-dropdown-select {
    @apply bg-white border border-gray-300 rounded px-3 py-2;
  }

  .react-dropdown-select-dropdown {
    @apply bg-white shadow-lg rounded mt-1;
  }
}

@layer utility {
  .text-gradient {
    @apply bg-linear-to-r from-[#1c1c1c] to-[#0E3599] bg-clip-text text-transparent;
  }
}
